# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [2]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [26]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")

chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 3. Name of the max valued product

In [17]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [24]:
chipo.describe()

          order_id     quantity   item_price
count  4622.000000  4622.000000  4622.000000
mean    927.254868     1.075725     7.464336
std     528.890796     0.410186     4.245557
min       1.000000     1.000000     1.090000
25%     477.250000     1.000000     3.390000
50%     926.000000     1.000000     8.750000
75%    1393.000000     1.000000     9.250000
max    1834.000000    15.000000    44.250000

In [27]:
chipo["item_price"]= chipo["item_price"].str.replace("$","").astype(float)

In [29]:
chipo["precio_final"] = chipo["item_price"]/chipo["quantity"]

In [30]:
chipo["precio_final"].max()

np.float64(11.89)

In [35]:
productos_mas_caros = chipo[chipo["precio_final"] == chipo["precio_final"].max()]["item_name"].unique()

In [37]:
chipo[chipo["item_name"].isin(productos_mas_caros)].groupby(["item_name","precio_final"])["item_name"].count()

item_name            precio_final
Barbacoa Salad Bowl  9.39             5
                     11.89            5
Carnitas Salad Bowl  9.39             2
                     11.89            4
Steak Salad Bowl     9.39            10
                     11.89           19
Name: item_name, dtype: int64

### Step 4. How many products cost more than $10.00?

In [38]:
chipo[chipo["precio_final"]>10]["item_name"].nunique()

25

### Step 4.1: Y cuántos pedidos se han hecho con un producto de más de 10$? Es lo mismo?

In [ ]:
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")

chipo["item_price"] = chipo["item_price"].str.replace("$","").astype(float)

chipo ["precio_orden"] = chipo["item_price"]/chipo["quantity"]
chipo = chipo[chipo["precio_orden"]> 10]


print(len(chipo["precio_orden"]))
chipo["precio_orden"].size

1034

1034

### Step 4.2: Y cuántos pedidos se han hecho de más de 10$? Es lo mismo?

In [ ]:
chipo_4_2 = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")
chipo_4_2["item_price"] = chipo_4_2["item_price"].str.replace("$","").astype(float)
chipo_4_2.head(10)
chipo_4_2.groupby("order_id")["item_price"].sum().reset_index()
chipo_4_2 = chipo_4_2[chipo_4_2["item_price"]>10]
chipo_4_2["item_price"].size

1130

### Step 4.3: Y en cuántos pedidos se ha pagado más de 10$ por un mismo producto? Es lo mismo?

In [ ]:
chipo_4_2 = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv',sep="\t")
chipo_4_2["item_price"] = chipo_4_2["item_price"].str.replace("$","").astype(float)
chipo_4_2.head(10)
chipo_4_2.groupby("order_id")["item_price"].sum().reset_index()

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [15]:
chipo.head(10)
chipo["unit_price"] = chipo["item_price"]/chipo["quantity"]
chipo.loc [::,"item_name"::3]

                                  item_name  unit_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?